@charset "utf-8";

*{
    margin: 0; padding: 0;
}

header, main{
    margin: 0px auto;
    width: 610px;
}

header{
    background-color:rgb(98, 238, 243);
    text-align: center;
    margin-bottom: 5px;
}

header>h2{
    font-weight: normal;
}

.section1{
    width: 250px;
    float: left;
    text-align: center;
}

.section1>img{
    width: 200px;
}

.section1>h3{
    margin-bottom: 15px;
    text-align:left;
    color: rgb(46, 0, 131);
    margin-top: 10px;
    margin-bottom: 20px;
}

.section1>p{
    text-align: justify;
    line-height: 23px;
}

.section2{
    width: 350px;
    float: right;
}

.article1{
    border-bottom: 1px solid red;
    height: 150px;
    margin-bottom: 5px;
}

.article1>img{
    height: 140px;
    float: left;
    width: 110px;
}

.section2 h3, .section2 p{
    padding-top: 30px;
    text-align: justify;
}

.article1>h3{
    color: red;
}

.article2{
    border-bottom: 1px solid red;
    height: 150px;
    margin-bottom: 5px;
}

.article2>img{
    height: 120px; width: 110px;
    float: left;
}

.article2>h3{
    color: rgb(255, 81, 0);
}

.article3{
    height: 150px;
    margin-bottom: 5px;
}

.article3>img{
    height: 140px; width: 110px;
    float: left;
    margin-top: 20px;
}

.article3>h3{
    color: rgb(85, 87, 255);
}