@charset "utf-8";


header, main, footer{
    margin: 0px auto;
}

input[type=checkbox]{display: none;}
header{
    height: 70px;
    background: ivory;
    position: relative;
    z-index: 2;
}

header h1{width: 60px;}

header h1 img{
    padding: 5px 0px 0px 10px;
    width: 100%;
}

.total_mnu>img{
    width: 50px; 
    position: absolute;
    top: 18px; right: 10px;
}


footer{
    background-color: #333;
}

footer>address{
    color: white;
    text-align: center;
    line-height: 50px;
}

/* 내비게이션 서식 */

header nav{
    width: 100%; height: 100%;
    position: fixed; 
    top: 0px; left: 100%;
    background-color: rgb(51, 51, 51, 0.7);
}

nav>label>img{
    position: absolute;
    top: 30px; left: 80px;
}

/* 햄버거 메뉴를 클릭 시 체크박스가 체크되면서 header의 자손 nav의 위치가 left 0% 가 되게 한다 */

#toggle:checked + header nav{
    position: fixed; 
    top: 0px; left: 0px;
    transition: 0.5s;
}

.gnb{
    float: right;
    line-height: 75px;
    background-color: black;
    width:350px;
    height: 100%;
}

.gnb>li>a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
}

.list01, .list02{
    background-color: #333;
}

.gnb>li{
    border-bottom: 1px solid rgb(100, 100, 100);
}

.gnb>li>a>img{
    width: 30px; 
    float: right;
    padding: 20px;
}

.gnb>li>input[type="text"]{
    padding: 15px 0px 15px 30px;
    border-radius: 5px;
    margin-left: 30px;
}

.gnb>li>input[type="submit"]{
    padding: 13px 20px 13px 20px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: rgb(105, 105, 105);
    color: white;
    border: none;
    font-size: 18px;
}

.maps{
    width: 30px;
    position: absolute;
    top: 15px; right: 80px;
}
.maps>img{
    width: 100%;
}

.user{
    width: 30px;
    position: absolute;
    top: 18px; right: 135px;
}
.user>img{
    width: 100%;
}

.gnb02{
    width: 350px;
}

.gnb02>li{
    border-top: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    line-height: 50px;
}

.gnb02>li>a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
}

.list02{
    height: 76px;
    overflow: hidden;
    transition: 0.5s;
}

.list02:hover{
    height:290px;
}

.gnb02>li>a:hover{
    text-decoration: underline;
}

/* 메인 영역 */
main{
    width: 400px;
}

.head1{
    padding: 20px;
    position: relative;
    background-color: rgb(241, 241, 241);
    padding-top: 10px;
    margin-top: 10px;
}

.head1>h3{
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.head1 img{
    width: 40px;
    padding-top: 10px;
    display: block;
    position: absolute;
    top: 5px;
    left: 160px;
    z-index: 1;
}

.head1 p{
    font-size: 13px;
    letter-spacing: -1px;
}

dl{
    display: grid;
    grid-template-columns: 185px 185px;
    margin-left: 5px;
}

dt{
    width: 400px;
}

dd{
    width: 180px;
    margin: 10px;
}

dd img{
    width: 180px;
    display: block;
}

dd a{
    text-decoration: none;
}

dd p{
    text-align: center;
    color: #333;
    padding: 20px 0px 10px 0px;
    font-size: 13px;
    letter-spacing: -2px;
}

dd:hover{
    background-color: rgb(116, 116, 116);
    border-radius: 5px;
    transition: 0.5s;
    filter: brightness(0.4);
}

dd p:hover{
    color: white;
}